body {
    margin: 0;
}

.big-element {
    display: flex;
    width: 100%;
    justify-content: center;
}

.text {
    /* Установить шрифт Roboto */
    font-size: 32px;
}

.text_header {
    color: #007765;
    font-size: 64px;
    text-align: center;
}

.header {
    background-color: #007765;
    justify-content: space-between;
    height: 84px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__text {
    font-size: 24px;
    color: #FFFFFF;
}

.picture {
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.picture_first {
    background-image: url("/images/picture_first.png");
    height: 403px;
}

.picture_first__text {
    font-size: 72px;
    color: #FFFFFF;
}

.block-text {
    background: #EEEEEE;
}

.block-text_white {
    background: #FFFFFF;
}

.picture_second {
    background-image: url("/images/picture_second.png");
    height: 483px;
    font-style: italic;
}

.picture_second__text {
    font-size: 48px;
    color: #FFFFFF;
    height: 228px;
    width: 893px;
}

.footer {
    background-color: #333333;
}

.footer__text {
    color: #FFFFFF;
}

.content {
    max-width: 1219px;
    padding: 0px 55px;
    box-sizing: border-box;
}